@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgb(243, 236, 236);
}

.title {

    margin-top: 50px;
}


.pname {
    margin-right: 90px;
    margin-left: 50px;
    font-size: 20px;
}

.pdesc {
  margin-right: 50px;
  margin-left: 50px;
  font-size: 20px;
}

.psize{
  margin-right: 115px;
  margin-left: 50px;
  font-size: 20px;
}

.pprice {
  margin-right: 107px;
  margin-left: 50px;
  font-size: 20px;
}

.pimage {
  margin-right: 95px;
  margin-left: 50px;
  font-size: 20px;
}

.namef {
    height:50px;
    font-size: 15px;
    background-color:  white;
    margin-left: 3px;

}

.descf {
  height: 100px;
  margin-left: 280px;
  font-size: 15px;
  margin-bottom: 30px;
  background-color:  white;

}

.sizef {
  height:50px;
  font-size: 15px;
  margin-bottom: 30px;
  background-color:  white;
}

.pricef {
  height:50px;
  width: 300px;
  font-size: 15px;
  margin-bottom: 30px;
  background-color:  white;
}

.sbutton {
    width: 300px;
    margin-top: 50px;
    margin-left: 60px;
    transition-duration: 0.4s;
    background-color: #4d4d4d;
    border: 2px solid white; /* Green */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .sbutton:hover {
    background-color:  rgb(24, 22, 22); /* Green */ 
    color: white;
    border: 2px solid #010201;
  }

.bbutton {
    margin-top: 5px;
    transition-duration: 0.4s;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin-right: 30px;
  }
  
.bbutton:hover {
    color: rgb(40, 86, 214);
  }